<!DOCTYPE html>
<html>

	<head>
		<title>主页</title>
		<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="js/jquery.min.js"></script>
		<!-- Custom Theme files -->
		<!--theme-style-->
		<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
		<!--//theme-style-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Fashion Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
		<script type="application/x-javascript">
			addEventListener("load", function() {
				setTimeout(hideURLbar, 0);
			}, false);

			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		
		</script>
		<style>
			.lady-in img{
				height: 248.52px;
				width: 366px;
			}
		</style>
		<!--fonts-->
		<link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
		<!--//fonts-->
	</head>

	<body >
    <div id="main">
		<!--header-->
		<div class="header">
			<div class="header-top">
				<div class="container">
					<div class="header-grid">
						<a href="index.html"><img src="images/logo.png" style="height: 62px;"></a>
					</div>
					<div class="header-grid-right">
                        <a v-if="this.userInfo != null" href="" class="sign-up" style="float: right;" @click="logout()">退出登录</a>
                        <a v-if="this.userInfo != null" href="user.html" class="sign-up" style="float: right;" >{{userInfo.uname}}</a>

						<a v-else="" href="login.html" class="sign-up" style="float: right;">请登录</a>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="container" >
				<div class="header-bottom-bottom">
					<div class="top-nav">
						<span class="menu"> </span>
						<ul>
							<li class="active">
								<a href="index.html">首页 </a>
							</li>
							<li>
								<a href="orders.html">我的订单</a>
							</li>
						</ul>

						<script>
							$("span.menu").click(function() {
								$(".top-nav ul").slideToggle(500, function() {});
							});
						</script>

						<div class="clearfix"> </div>
					</div>

					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<!--content-->
		<div class="content" >
			<div class="container"  >
				<div class="women-in">
					<div class="col-md-12" style="padding: 0px;">
						<!---->

						<div class="in-line" style="padding: 0;">
							<div class="para-an"  >
								<h3 style="width: 300px">所有点卡</h3>
								<p style="width: 300px">搜索所有点卡</p>

							</div>
                                    <input  placeholder="请输入点卡名称" v-model="params.tName">
                                    <input  placeholder="请输入点卡面值" v-model="params.mName">
                                    <button  @click="selectCardUse()">查询</button>
							<div class="lady-in" >
								<div class="col-md-4 you-para" v-for="(data,index) in dataList">
									<a href="buypage.html"><img class="img-responsive pic-in" src="images/骏网一卡通.png" alt=" "></a>
									<p>{{data.tname}}{{data.mname}}</p>
									<span>&yen;{{data.cprice}}  | <a href="buypage.html" @click="buyPage">马上购买</a></span>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"> </div>
                    <div class="pages">
                        <ul id="page">

                        </ul>
                    </div>
				</div>
				<!---->



			</div>
		</div>
		<!---->
		<div class="footer">
			<div class="container">
				<div class="footer-class">
					<div class="class-footer">
						<p class="footer-grid">Copyright &copy; 2020.Company name All rights reserved.More Templates.呖咕呖咕
						</p>
					</div>
					<div class="footer-left">
						<a href="index.html"><img src="images/logo1.png" alt=" "></a>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
    </div>
	</body>
	<!--引入vue.js-->
	<script src="js/vue.min.js"></script>
	<!--引入分页插件js-->
	<script src="js/bootstrap-paginator.js"></script>
	<script>
		var vm = new Vue({
			el:"#main",
			data:{
                userInfo:{},
				params:{
					tName:'',
                    mName:'',
					pageSize:6,
					currentPage:1,//当前页
					pages:1
				},
				dataList:[]

			},
			//页面初始化加载的方法
			mounted:function () {
				this.userInfo = JSON.parse(window.sessionStorage.getItem("user"));
				//console.log(this.userInfo)

				//初始化分页模板
				var options = {
					bootstrapMajorVersion:3,
					currentPage:this.params.currentPage,//当前页数
					numberOfPages:5,//显示分页按钮的数量
					totalPages:this.params.pages,//总页数
					onPageClicked:function (event,originalEvent,type,page) {
						vm.params.currentPage=page;
						vm.selectCardUse();
					},
					onPageChanged:function(event, oldPage, newPage){
						vm.params.currentPage=newPage;
						vm.selectCardUse();
					}
				};
				$("#page").bootstrapPaginator(options);

				this.selectCardUse();

			},
			methods:{
				selectCardUse:function(){
					var url = "http://localhost:8000/card/selectCardUse";
					$.get(url,this.params,function (data) {
						if (data.code === 0){
							//console.log(data); //打印结果到控制台
							vm.dataList = data.dataList; //结果
							vm.params.pages = data.pages;//总页数
							vm.params.currentPage = data.pageNum //第几页
							//设置分页(当前页,总页数)
							//console.log(data.total);
                            console.log(vm.params.tName)
							$("#page").bootstrapPaginator('setOptions',{currentPage:vm.params.currentPage,totalPages:vm.params.pages});
						}else {
							alert(data.msg);
						}
					});
				},
                buyPage:function(){
                    var url = "http://localhost:8000/card/selectCardUse/";
                    $.get(url,this.params,function (data) {
                        if (data.code === 0){
                            console.log(data); //打印结果到控制台
                            vm.dataList = data.dataList; //结果
                            vm.params.pages = data.pages;//总页数
                            vm.params.currentPage = data.pageNum //第几页
                            //设置分页(当前页,总页数)
                            //console.log(data.total);
                            console.log(vm.params.tName)
                            $("#page").bootstrapPaginator('setOptions',{currentPage:vm.params.currentPage,totalPages:vm.params.pages});
                        }else {
                            alert(data.msg);
                        }
                    });
                },
                logout:function () {
                    var flag = confirm("您确定要退出登录吗？")
                    if(flag){
                        sessionStorage.clear()
                        window.location.href = "login.html";
                    }
                }

			}


		});

	</script>

</html>