<!DOCTYPE html>
<html>

	<head>
		<title>用户注册</title>
		<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="js/jquery.min.js"></script>
		<!-- Custom Theme files -->
		<!--theme-style-->
		<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
		<!--//theme-style-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Fashion Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
		<script type="application/x-javascript">
			addEventListener("load", function() {
				setTimeout(hideURLbar, 0);
			}, false);

			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		</script>
		<!--fonts-->
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
	</head>

	<!--//fonts-->
	</head>

	<body>
		<!--header-->
		<div class="header">
			<div class="header-top">
				<div class="container">
					<div class="header-grid">
						<a href="index.html"><img src="images/logo.png" / style="height: 62px;"></a>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="container">
				<div class="header-bottom-bottom">
					<div class="top-nav">
						<span class="menu"> </span>
						<ul>
							<li>
								<a href="index.html">首页 </a>
							</li>
							<li>
								<a href="orders.html">我的订单</a>
							</li>
						</ul>
						<script>
							$("span.menu").click(function() {
								$(".top-nav ul").slideToggle(500, function() {});
							});
						</script>

						<div class="clearfix"> </div>
					</div>

					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<!--content-->
		<div class="content" id="main">
			<div class="container">
				<div class="register">
					<form>
						<div class="  register-top-grid">
							<h2 style="margin-bottom: 25px;align-self: center;">用户注册</h2>
							<div class="mation">
								<span style="font-size: 18px;">账号<label>*</label></span>
								<input type="text" placeholder="请输入正确账号..." v-model="add.unumber">
								
								<span style="font-size: 18px;">用户名<label>*</label></span>
								<input type="text" placeholder="请输入正确用户名..." v-model="add.uname">
								
								<span style="font-size: 18px;">邮箱</span>
								<input type="text" placeholder="请输入正确邮箱..." v-model="add.uemail">
								<span style="font-size: 18px;">电话</span>
								<input type="text" placeholder="请输入正确电话号码..." v-model="add.uphone">
								<span style="font-size: 18px;">密码<label>*</label></span>
								<input type="password" style="border: 1px solid #EEE;
    outline-color:#bc3726;
    width: 70%;
    font-size: 1em;
    padding: 0.5em;
    margin: 0.5em 0;" placeholder="请输入正确密码..." v-model="add.upassword">

								<span style="font-size: 18px;">再次输入密码<label>*</label></span>
								<input type="password" placeholder="请再次输入正确密码..." style="border: 1px solid #EEE;
    outline-color:#bc3726;
    width: 70%;
    font-size: 1em;
    padding: 0.5em;
    margin: 0.5em 0;" >
							</div>
							<div class="clearfix"> </div>
							<span style="margin:1em 0 3.5em 0;">已有账号？<a href="login.html"style="color: #31B0D5;">去登录
							</a></span>
						</div>
						<a href="#" class="to-cart" @click="addUser"><span style="margin: 3em 0;">注册</span></a>
					</form>
				</div>
			</div>
		</div>
		<!---->
		<div class="footer">
			<div class="container">
				<div class="footer-class">
					<div class="class-footer">
						<p class="footer-grid">Copyright &copy; 2020.Company name All rights reserved.More Templates.呖咕呖咕
						</p>
					</div>
					<div class="footer-left">
						<a href="index.html"><img src="images/logo1.png" alt=" " /></a>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>

	</body>
	<!--引入vue.js-->
	<script src="js/vue.min.js"></script>
	<!--引入分页插件js-->
	<script src="js/bootstrap-paginator.js"></script>
    <script>
		var vm = new Vue({
			el:"#main",
			data:{
				add:{
					uname:"",
					unumber:"",
					upassword:"",
					uemail:"",
					uphone:"",
					udate:"",
					ustate:1
				},
				dataList:[],

			},
			methods:{
				addUser:function () {
					$.ajax({
						type: "POST",
						url:"http://localhost:8000/users/addUsers",
						dataType:"json",
						contentType: "application/json",
						data:JSON.stringify(vm.add),
						success:function (data) {
							if (data.code === 0){
								alert(data.msg);
								window.location.href = "login.html";
							}else {
								alert(data.msg);
							}
						}
					});
				}

			}

		});
	</script>
</html>